extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Ebony Hargro
        p Your Next Full Stack JavaScript Developer


        .about-bio

          p Hi, I'm an enthusiastic and compassionate software developer. I bring precision and my passion for problem-solving through code to every project and team to design and build interactive, data-drive, accesible web applications.


      .skills-contact-box.box
        h6 My Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li Python
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Me

        
        ul
          li 980-293-5156
          li eb.hargro@gmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/ebonyhargro/') LinkedIn
        a.btn-link(href='https://github.com/ebhargro') GitHub
        a.btn-link(href='https://twitter.com/ebonyhargro') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back