extends layout.pug

block content

  article.portfolio-intro

    h1 View My Work 💻 
    p My portfolio showcases full stack applications I've built using HTML, CSS, JavaScript, and more.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
  each project in projects  

    article.portfolio-project-thumbs
      .projects-box.box.grid
        .cell
          a(href=`/project/${project.id}`)
            h5=project.project_name
            img.thumbnail(src=`${project.image_urls[1]}`, alt='Screenshot of project')
          

