extends layout.pug

block content

  article.portfolio-intro

    h1 View My Work 💻 
    p My portfolio showcases full stack applications I've built using HTML, CSS, JavaScript, and more.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      each project in projects  

        .cell
          a(href=`/projects/${data.id}`)
            img.thumbnail(src=`${data.image_urls}`, alt='Screenshot of project')
            h5=project.project_name

